<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/business1</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

<!--    create will create the tables everytime -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- used for debugging query -->
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.aastha.myapp.pojo.EntrepreneurRole"/>
		<mapping class="com.aastha.myapp.pojo.ExpertRole" />
		<mapping class="com.aastha.myapp.pojo.InvestorRole" />
		<mapping class="com.aastha.myapp.pojo.Category" />
		<mapping class="com.aastha.myapp.pojo.User"/>
		<mapping class="com.aastha.myapp.pojo.Email"/>
		<mapping class="com.aastha.myapp.pojo.Location"/>
		<mapping class="com.aastha.myapp.pojo.EntrepreneurInvestor"/>
		
	</session-factory>
</hibernate-configuration>